---
const {number, role, company, date, content} = Astro.props
---

<button type="button" class="experience">
    <div class="test">
        <p class="experience-number">{number}</p>
        <div class="experience-details">
          <p class="experience-role">{role}</p>
          <div class="experience-company-date">
            <p>{company}</p>
            <p>{date}</p>
          </div>
        </div>
    </div>
    
    <img src="/svg/plus.svg" class="plus" alt="">
    <img src="/svg/minus.svg" class="minus" alt="">

</button>

<div class="experience-content">
<p>{content}</p>
</div>
  
<style>

    .experience-number {
      font-size: 2rem;
      font-weight: 200;
    }
    
    .experience-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    
    .experience-role {
      font-size: 1rem;
      text-align: left;
      font-weight: 200;
      margin: 0;
    }
    
    .experience-number, .experience-role, .experience-content p {
      color: var(--main-color);
    }
    
    
    .experience-company-date {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    
    .experience-company-date p {
      color: var(--secondary-color);
      font-size: 0.75rem;
      margin: 0;
    }
    
    .experience {
      background-color: var(--light-color);
      padding: 1rem;
      width: 100%;
      border: none;
      border-bottom: 0.5px solid var(--main-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      cursor: pointer
    }
    
    .test {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
    .active {
      border-bottom: none;
    }
    
    img.minus {
      display: none;
    }
    
    .active img.minus {
      display: block;
    }
    
    .active img.plus {
      display: none;
    }
    
    .experience-content {
      background-color: #fff;
      padding: 0 1rem;
      display: none;
      overflow: hidden;
      border-bottom: 1px solid #343434;
    }
    
    
    </style>
    
    <script>
      var coll = document.getElementsByClassName("experience");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>