---
const allPosts = await Astro.glob('../pages/posts/*.md');
---

{allPosts.map((project) =>
    <article class="card">
        <a href={project.url}>
        
            <article class="card-image">
                <img src={project.frontmatter.image.src} alt={project.frontmatter.image.alt}>
                
                <div class="card-caption">
                    <div class="card-caption-content">
                        <h2>View Project</h2>
                        <img src="/svg/arrow-up-right.svg" alt="Simple arrow up right">
                    </div>
                </div>
            </article>
            
            <article class="card-content">
                <div class="card-tags">
                {project.frontmatter.tags.map((tag) => (
                <p class="tag">{tag}</p>
                ))}
                </div>
                
                <div class="card-text">
                    <h1>{project.frontmatter.title}</h1>
                    <h2>{project.frontmatter.subtitle}</h2>
                    <p>{project.frontmatter.description}</p>
                </div>
            </article>
               
        </a>
    </article>
)}

<style>
    .card {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: var(--shadow-color) 0 7px 29px 0;
    }

    .card-image {
        display: flex;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .card-image img {
        width: 100%;
        border-radius: 16px 16px 0 0;
    }

    .card-tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem 1rem 1rem 1rem;
    }

    p.tag {
        color: var(--main-color);
        background-color: var(--secondary-light-color);
        height: 32px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0;
        opacity: 50%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1.5rem;
    }

    .card-text h1 {
        color: var(--main-color);
        margin: 0;
        text-align: left;
        font-size: 1.5rem;
    }

    .card-text h2 {
        color: var(--main-color);
        margin: 0;
        text-align: left;
        font-size: 1rem;
        font-weight: 200;
    }

    .card a {
        text-decoration: none;
    }

    .card-caption {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
        opacity: 80%;
        transform: translateY(100%);
        transition: 0.5s;
    }

    .card-caption-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        height: 44px;
        width: 140px;
    }

    .card-caption-content h2 {
        color: var(--light-color);
        font-size: 1rem;
        font-weight: 400;
    }

    .card-caption-content img {
        height: 24px;
        width: 24px;;
    }

    @media screen and (min-width: 600px) {
        .card-text h1 {
            font-size: 2rem;
        }

        .card-text h2 {
            font-size: 1.5rem;
        }

        .card-image:hover .card-caption {
        transform: translateY(0);
    }
    }
    
    @media (min-width: 768px) {

        .card {
            max-width: 1000px;
        }

        .card a {
            display: flex;
            flex-direction: row;
            gap: 24px;
        }

        .card-image {
            width: 100%;
            height: auto;

        }
        
        .card-image img{
            object-fit: cover;
            border-radius: 16px 0 0 16px;
        }

        .card-content {
            width: 100%;
        }
    }

</style>

