---
import BaseLayout from './BaseLayout.astro';
import BackButton from '../components/BackButton.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

    <!-- <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
     -->

  <BackButton />
    
  <section class="page">
    <section class="project-intro">
      <h1 class="project">{frontmatter.title}</h1>
      <h2 class="project">{frontmatter.subtitle}</h2>
    </section>
    

    <section class="project-details">
      <article>
        <div class="project">
          <h3 >Project</h3>
          <p>{frontmatter.type}</p>
        </div>
    
        <div class="project">
          <h3>Deadline</h3>
          <p>{frontmatter.time}</p>
        </div>
    
        <div class="project">
          <h3>Team</h3>
          <p>{frontmatter.team}</p>
        </div>
    
        <div class="project">
          <h3>Tools</h3>
          <p>{frontmatter.tool}</p>
        </div>
    
        <div class="project">
          <h3>Skills</h3>
          <div class="tags">
            {frontmatter.tags.map((tag) => (
              <p class="tag">{tag}</p>
            ))}
          </div>
        </div>
      </article>

      <p class="project-description">{frontmatter.description}</p>

    </section>
    
    <div class="behance">
      <a href={frontmatter.behance} class="behance">
        <img src="/svg/Behance.svg" alt="">
        <p>Open project on Behance</p>
      </a>
    </div>
    

    <slot />
  
  </section>
</BaseLayout>
  

    