---
import BaseLayout from './BaseLayout.astro';
import BackButton from '../components/BackButton.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <!-- <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot /> -->

    <BackButton />
    
    <h1>{frontmatter.title}</h1>
    <h2>{frontmatter.subtitle}</h2>
    <p>{frontmatter.description}</p>

</BaseLayout>
